* {margin: 0; padding: 0;}
body {font-family: "Courier New", Courier, monospace; font-size: 16px;}
#chess {position: relative; margin: 0 auto; background: #edb568 url(../img/chessboard-bg.jpg);}
#chess .chessboard {border: solid #000;}
#chess .chessboard table {background: #000;}
#chess .chessboard table tr {height: 36px; line-height: 36px;}
#chess .chessboard table td {position: relative; width: 36px; text-align: center; background: #edb568 url(../img/chessboard-bg.jpg);}
#chess .starLabel b {position: absolute; width: 12px; height: 12px; line-height: 12px; text-align: center; background: url(../img/star.png) no-repeat;}
#chess .positionLabel b {position: absolute; width: 36px; height: 36px; line-height: 36px; text-align: center;}
#chess .indicator {position: absolute; width: 16px; height: 16px; background: url(../img/indicator.png) no-repeat; display: none;}
#chess .chessmans b {position: absolute; width: 36px; height: 36px; line-height: 36px; text-align: center; opacity: 0.98;}
#chess .chessmans b.color1 {background: url(../img/chessman-black.png) no-repeat; color: white;}
#chess .chessmans b.color0 {background: url(../img/chessman-white.png) no-repeat; color: black;}
#chess .chessmans b.hover {font-size: 18px; color: #f0f;}
#chess .chessmans b.focus {font-size: 18px; color: red;}
#chess .eventLayer {position: absolute; z-index: 99; left: 0; right: 0; top: 0; bottom: 0;}
#console {position: relative;}
#console #log {position: fixed; left: 1px; top: 1px; bottom: 34px; border: 2px solid #5CADAD; width: 260px; overflow: auto; font-size: 14px; border-radius:10px; background: #E8FFF5;}
#console #log .item {line-height: 28px; background: #D1E9E9; word-break: break-all; cursor: pointer;}
#console #log .item:nth-child(odd) {background: #E8FFC4;}
#console #log .item:hover {background: #A3D1D1;}
#console #input {position: fixed; left: 1px; bottom: 1px; line-height: 30px;}
#console #input input {width: 260px; height: 30px; border: 2px solid #5CADAD; font-size: 16px; text-indent: 5px; border-radius:10px; background: #E8FFF5;}
#menu {position: fixed; top: 1px; right: 1px; width: 260px; line-height: 130%;}
#menu button {width: 100%; margin-bottom: 4px;}
#menu input {width: 78px; text-align: center; height: 24px; font-size: 16px;}
#dialog {position: fixed; z-index: 100; right: 0; bottom: 0; width: 768px; height: 440px; background: #fff; border: 2px solid #ddd; display: none;}
#dialog .title {height: 30px; line-height: 30px; font-weight: bold; text-align: center;}
#dialog .body {width: 748px; margin: 0 auto;}
#dialog .body textarea {width: 100%; height: 360px; resize: none;}
#dialog .buttons {height: 30px; text-align: center;}
#dialog .buttons button {width: 120px; margin: 10px 5px;}
#showHide {position: fixed; right: 4px; bottom: 4px; display: none;}
